<div class="rate-review" [formGroup]="reviewForm">
  <h2>Rate & Review</h2>

  <div>
    <img class="image" src="../assets/slide2.jpg" alt="Bike Image">

    <label>How much would you rate this bike?</label>
    <div class="star-rating">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <span (click)="setRating('Overall', star)" 
              [class.filled]="reviewForm.value.overallRating >= star">
          &#9733;
        </span>
      </ng-container>
    </div>
  </div>

  <!-- Show additional ratings only if overallRating is greater than 0 -->
  <div *ngIf="reviewForm.value.overallRating > 0" formGroupName="ratings" class="ratings-container">
  
    <div>
      <label>{{ ratingCategories[0] }}</label>
      <div class="star-rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <span (click)="setRating('Design', star)" 
                [class.filled]="reviewForm.get('ratings')?.get(formatControlName('Design'))?.value >= star">
            &#9733;
          </span>
        </ng-container>
      </div>
    </div>
  
    <div>
      <label>{{ ratingCategories[1] }}</label>
      <div class="star-rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <span (click)="setRating('Performance', star)" 
                [class.filled]="reviewForm.get('ratings')?.get(formatControlName('Performance'))?.value >= star">
            &#9733;
          </span>
        </ng-container>
      </div>
    </div>
  
    <div>
      <label>{{ ratingCategories[2] }}</label>
      <div class="star-rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <span (click)="setRating('Comfort', star)" 
                [class.filled]="reviewForm.get('ratings')?.get(formatControlName('Comfort'))?.value >= star">
            &#9733;
          </span>
        </ng-container>
      </div>
    </div>
  
    <div>
      <label>{{ ratingCategories[3] }}</label>
      <div class="star-rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <span (click)="setRating('Service ', star)" 
                [class.filled]="reviewForm.get('ratings')?.get(formatControlName('Service '))?.value >= star">
            &#9733;
          </span>
        </ng-container>
      </div>
    </div>
  
    <div>
      <label>{{ ratingCategories[4] }}</label>
      <div class="star-rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <span (click)="setRating('Value', star)" 
                [class.filled]="reviewForm.get('ratings')?.get(formatControlName('Value'))?.value >= star">
            &#9733;
          </span>
        </ng-container>
      </div>
    </div>
    
  </div>
  
  <div>
    <label>Enter your bike's mileage (kmpl)</label>
    <input type="range" 
           formControlName="mileage" 
           min="0" 
           max="150" 
           step="1">
    <span>{{ reviewForm.get('mileage')?.value }} kmpl</span>
  </div>
  
  <div>
    <label>Enter your name</label>
    <input type="text" formControlName="name">
  </div>
  
  <div>
    <label>Enter your email</label>
    <input type="email" formControlName="email">
  </div>
  
  <button (click)="submitReview()">Submit Rating & Proceed</button>
</div>
